<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles css/adminCharts.css" />

    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <header class="cabecalho">
        <img class="cabecalho__logo" src="../assets/logo-domrock.png" alt="Logo Dom Rock">
        <nav class="cabecalho__nav">
            <a class="cabecalho__home" href="../view/homeAdministrador.html">Home</a>
            <a class="cabecalho__home" href="../view/formVisualizacaoCliente.html">Clientes</a>
            <a class="cabecalho__home" href="../view/formVendedor.html">Cadastros</a>
            <a class="cabecalho__home" href="../view/adminCharts.html">Dados</a>
        </nav>
        <a class="cabecalho__sair" href="../view/index.html">Sair</a>
    </header>
      <main>
        <section id="main-chart">
          <header>
            <div class="wrapper-reach">
              <div class="card-reach">
                <div class="box-image total-reach">
                  <img src="/assets/icons/rectangle.svg" alt="" />
                  <img src="/assets/icons/polygon.svg" alt="" />
                </div>
                <div class="text-reach">
                  <button class="botao" id="botao-venda">Total Metas x Vendas</button>
                </div>
              </div>
              <div class="card-reach">
                <div class="box-image total-paid">
                  <img src="/assets/icons/rectangle_green.svg" alt="" />
                  <div></div>
                  <img src="/assets/icons/polygon_green.svg" alt="" />
                </div>
                <div class="text-reach">
                  <button class="botao" id="botao-vendedor">Ranking Vendedores</button>
                </div>
              </div>
              <div class="card-reach">
                <div class="box-image total-organic">
                  <img src="/assets/icons/rectangle-rose.svg" alt="" />
                  <img src="/assets/icons/polygon-rose.svg"" alt="" />
                </div>
                <div class="text-reach">
                  <button class="botao" id="botao-produto">Ranking produtos</button>
                </div>
              </div>
            </div>

            <div class="wrapper-filter">
              <div class="filters">
                <div class="filter selected">
                  <select id="filtro-data" class="filter selected">
                    <option value="Todos">Meses</option>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                  </select>
                </div>
                <div class="filter">
                  <button id="filtro-button-data" class="botao-filtrar">Filtrar</button>
                </div>
                <div class="filter">
                  <select id="filtro-vendedor" class="filter selected">
                    <option value="Todos">Vendedores</option>
                  </select>
                </div>
                <div class="filter">
                  <button id="filtro-button-vendedor" class="botao-filtrar">Filtrar</button>
                </div>
                <div class="filter">
                  <select id="filtro-produto" class="filter selected">
                    <option value="Produtos">Produtos</option>
                  </select>
                </div>
                <div class="filter">
                  <button id="filtro-button-produto" class="botao-filtrar">Filtrar</button>
                </div>
              </div>
            </div>
          </header>
          <div class="chart">
            <canvas id="bar-chart" width="700" height="200"> </canvas>
          </div>
        </section>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <script src="../javascript/adminCharts.js"></script>
  </body>
</html>