<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdn.oesmith.co.uk/morris-0.5.1.css'>
    <link rel="stylesheet" href="../styles css/adminCharts.css">

    <title>Dom Rock </title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../assets/logo-domrock.png" alt="Logo Dom Rock">
        <nav class="cabecalho__nav">
            <a class="cabecalho__home"  href="">Home</a>
            <a class="cabecalho__home"  href="adminCharts.html">Dashboard</a>
            <a class="cabecalho__home"  href="formCliente.html">Cadastro</a>
        </nav>
    </header>
    <br>
    <!-- Filtros -->
    <div class="FiltroData">
        <label for="data-filter">Filtro por data:</label>
            <select id="data-filter">
                <option value='todos'>Todos</option>
                <option value='Janeiro'>Janeiro</option>
                <option value='Fevereiro'>Fevereiro</option>
                <option value='Março'>Março</option>
                <option value='Abril'>Abril</option>
                <option value='Maio'>Maio</option>
                <option value='Junho'>Junho</option>
                <option value='Julho'>Julho</option>
                <option value='Agosto'>Agosto</option>
                <option value='Setembro'>Setembro</option>
                <option value='Outubro'>Outubro</option>
                <option value='Novembro'>Novembro</option>
                <option value='Dezembro'>Dezembro</option>
            </select>
        <button onclick="BotaoData">Filtrar</button>
    </div>
    <br>
    <div class="FiltroProduto">
        <label for="produto-filter">Filtro por produto:</label>
            <select id="produto-filter">
                <option value="todos">Todos</option>
            </select>
        <button onclick="BotaoProduto">Filtrar</button>
    </div>
    <br>
    <div class="FiltroVendedor">
        <label for="vendedor-filter">Filtro por vendedor:</label>
            <select id="vendedor-filter">
                <option value="todos">Todos</option>
            </select>
        <button onclick="BotaoVendedor">Filtrar</button>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 text-center">
            <canvas id="grafico_area">
          <label class="label label-success">Area Chart</label>
          <div id="area-chart" ></div>
        </canvas>
        </div>
        <div class="col-sm-6 text-center">
            <canvas id="graficos_barra_linha">
           <label class="label label-success">Line Chart</label>
          <div id="line-chart"></div>
            </canvas>
        </div>
    </div>
    <br>
    <div class="row">
        <div  class="col-sm-6 text-center">
            <canvas id="graficos_barra">
           <label class="label label-success">Bar Chart</label>
          <div id="bar-chart" ></div>
        </canvas>
        </div>
        <div class="col-sm-6 text-center">
            <canvas id="grafico_empilhado">
           <label class="label label-success">Bar stacked</label>
          <div id="stacked" ></div>
        </canvas>
        </div>
    </div>
</body>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../js/chartFiltro.js"></script>
</html> 