<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles css/formVendedor.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../javascript/formVendedor.js" defer></script>
    <title>Dom Rock</title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../assets/logo-domrock.png" alt="Logo Dom Rock">
        <nav class="cabecalho__nav">
            <a class="cabecalho__home" href="../view/homeAdministrador.html">Home</a>
            <a class="cabecalho__home" href="../view/formVisualizacaoCliente.html">Clientes</a>
            <a class="cabecalho__home" href="../view/formVendedor.html">Cadastros</a>
            <a class="cabecalho__home" href="../view/adminCharts.html">Dados</a>
        </nav>
        <a class="cabecalho__sair" href="../view/index.html">Sair</a>
    </header>
    <main class="cadastro">
        <section>
            <ul class="nav nav-tabs" style="width: 500px">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="">Cadastrar Vendedor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./formCliente.html">Cadastrar Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./formProduto.html">Cadastrar Produto</a>
                </li>
              </ul>
            <form action="" class="cadastro__vendedor">
                <div class="cadastro__vendedor__colunas" >
                    <div class="cadastro__vendedor__input">
                        <label>Nome completo</label>
                        <input class="nome" type="text" placeholder="Nome completo">
                    </div>
                    <div class="cadastro__vendedor__input">
                        <label>E-mail</label>
                        <input class="email" type="text" placeholder="E-mail">
                    </div>
                    <div class="cadastro__vendedor__input">
                        <label>Confirmação E-mail</label>
                        <input class="email-confirm" type="text" placeholder="Confirmação email">
                    </div>
                    <div class="cadastro__vendedor__input">
                        <label>CPF</label>
                        <input class="cpf" type="number" placeholder="___.___.___-__">
                    </div>
                    <div class="cadastro__vendedor__input">
                        <label>Senha</label>
                        <input class="senha" type="password" placeholder="******">
                    </div>
                    <div class="cadastro__vendedor__input">
                        <label>Contato</label>
                        <input class="contato" type="number" placeholder="(**) *****-****">
                    </div>
                    <div class="cadastro__vendedor__botao">
                        <button>Cadastrar</button>
                    </div>     
                </div>
            </form>
        </section>
    </main>
    <footer></footer>
</body>
</html>