<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles css/formCliente.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../javascript/formCliente.js" defer></script>
    <title>Dom Rock</title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../assets/logo-domrock.png" alt="Logo Dom Rock">
        <nav class="cabecalho__nav">
            <a class="cabecalho__home" href="../view/homeAdministrador.html">Home</a>
        </nav>
        <a class="cabecalho__sair" href="../view/index.html">Sair</a>
    </header>
    <main class="cadastro">
        <section>
            <ul class="nav nav-tabs" style="width: 500px">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="./formVendedor.html">Cadastrar Vendedor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Cadastrar Cliente</a>
                </li>
              </ul>
            <form action="" class="cadastro__cliente">
                <div class="cadastro__cliente__colunas" >
                    <div class="cadastro__cliente__input">
                        <label>Nome</label>
                        <input id="nome_cliente" type="text" placeholder="Nome do cliente">
                    </div>
                   <div class="cadastro__cliente__input">
                        <label>Produto</label>
                        <input id="nome_produto" type="text" placeholder="Nome do produto">
                    </div>
                    <div class="cadastro__cliente__input">
                        <label>Cliente</label>
                        <select id="caixa-de-selecao" class="caixa"></select>
                    </div>
                    <div class="cadastro__cliente__botao">
                        <button>Cadastrar</button>
                    </div>
                   </div>
            </form>
        </section>
    </main>
    <footer></footer>
</body>
</html>