<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles css/formVendas.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../javascript/formVendas.js" defer></script>
    <title>Dom Rock</title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../assets/logo-domrock.png" alt="Logo Dom Rock">
        <nav class="cabecalho__nav">
            <a class="cabecalho__home" href="../view/homeVendedor.html">Home</a>
            <a class="cabecalho__home" href="../view/minhasVendas.html">Vendas</a>
            <a class="cabecalho__home" href="../view/carteiraClientes.html">Clientes</a>
            <a class="cabecalho__home" href="../view/vendedorCharts.html">Ranking</a>
        </nav>
        <a class="cabecalho__sair" href="../view/index.html">Sair</a>
    </header>
    <main class="body">
        <section>
            <ul class="nav nav-tabs" style="width: 500px">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="">Registrar Venda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./minhasVendas.html">Minhas Vendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="carteiraClientes.html">Minha Carteira</a>
                </li>
              </ul>
            <div class="vendas__registro__colunas" >
                <div class="vendas__registro__input">
                    <label>Cliente</label>
                    <select id="caixa-de-selecao-cliente" class="caixa"></select>
                </div>
               <div class="vendas__registro__input">
                    <label>Produto</label>
                    <select id="caixa-de-selecao-produto" class="caixa"></select>
               </div>
               <div class="vendas__registro__input">
                   <label>Data</label>
                   <input id="data" type="date" placeholder="__/__/____">
                </div>
                <div class="vendas__registro__input">
                    <label>Quantidade</label>
                    <input id="quantidade" type="number" placeholder="Quantidade estimada">
                </div>
                <div class="vendas__botao">
                    <button id="registrar">REGISTRAR</button>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>