<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles css/homeAdministrador.css">
    <script src="../javascript/homeAdministrador.js" defer></script>
    <title>Dom Rock</title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../assets/logo-domrock.png" alt="Logo Dom Rock">
        <nav class="cabecalho__nav">
            <a class="cabecalho__home" href="">Home</a>
        </nav>
        <a class="cabecalho__sair" href="../view/index.html">Sair</a>
    </header>
    <div>
        <button id="view_cliente" type="button">Clientes</button>
        <button id="cadastro_cliente" type="button">Cadastro Clientes</button>
        <button id="cadastro_vendedor" type="button">Cadastro Vendedores</button>
        <button id="dados" type="button">Dados</button>
    </div>
    <main>
    </main>
    <footer></footer>
</body>
</html>