<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles css/homeVendedor.css">
    <script src="../javascript/homeVendedor.js" defer></script>
    <title>Dom Rock</title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../assets/logo-domrock.png" alt="Logo Dom Rock">
        <nav class="cabecalho__nav">
            <a class="cabecalho__home" href="../view/homeVendedor.html">Home</a>
            <a class="cabecalho__home" href="../view/minhasVendas.html">Vendas</a>
            <a class="cabecalho__home" href="../view/carteiraClientes.html">Clientes</a>
            <a class="cabecalho__home" href="../view/vendedorCharts.html">Ranking</a>
        </nav>
        <a class="cabecalho__sair" href="../view/index.html">Sair</a>
    </header>
    <main class="">
    </main>
    <footer></footer>
</body>
</html>