<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles css/formVendas.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../javascript/formVendas.js" defer></script>
    <title>Dom Rock</title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho__logo" src="../assets/logo-domrock.png" alt="Logo Dom Rock">
        <nav class="cabecalho__nav">
            <a class="cabecalho__home" href="../view/homeVendedor.html">Home</a>
        </nav>
    </header>
    <main class="body">
        <section>
            <ul class="nav nav-tabs" style="width: 500px">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="./formVendas.html">Registrar Venda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="">Minhas Vendas</a>
                </li>
            </ul>

            <div style="padding-top: 25px;">
                <table align="center" class="table table-bordered">
                    <thead class="table-active">
                        <tr>
                            <th>Cliente</th>
                            <th>Produto</th>
                            <th>Data</th>														
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="$"></td>
                            <td th:text="$"></td>
                            <td th:text="$"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
</main>