<!DOCTYPE html>
<html lang="pt-br">
<head>
	
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="Login.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
	
	
	<title>API 3BD - THUNDER TEAM</title>
	
</head>
<body>
	<div class="container">
	<!-- conteudo do site , nav cria menu-->
		<nav> 
			<div class="logo">
			<a href="index.html"><img scr="view/imagens/logoDomRock1.jpeg"></a>
			</div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Administrador</a></li>
				<li><a href="#">Vendedor</a></li>
				<li><a href="#">Dados</a></li>
				<li><a href="#">Gestor</a></li>
			
			
			</ul>
		</nav>
	</div>
</body>
</html>