<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DomRock</title>
<meta name="viewport" content="width-width-devicen initial-scale=1.0">
<meta name="author" content="Thunder"/>
<link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
<!-- Header da pagina -->
	<div class="logo">
		<img alt="Logo DomRock" src="/img/logoDomRock.png">
	</div>
	
	<main>
	
<!-- Aqui vai a parte do login -->
	<div class="text-tx">
		<p>Login</p>
	</div>
	<div class="input-bx">
		<input type="Usuario" placeholder="Usuário">
	</div> 
	<div class="input-bx">
		<input type="Senha" placeholder="Senha">
	</div>
		<button>INICIAR</button>
	</div>
	</div>
	
	<div class="img-bx">
	<img alt="." src="/img/homem.png">
	</div>
<!-- Fim do login -->

	</main>
	
	<script src="Login.js"></script>
</body>
</html>