<!DOCTYPE html>
<html lang="pt-br">
<head>
	
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="Login.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
	
	
	<title>API 3BD - THUNDER TEAM</title>
	
</head>
<body>
<!-- Header da pagina -->
	<div class="logo">
		<img alt="Logo DomRock" src="C:\Users\eliza\OneDrive\Área de Trabalho\FATEC\3º SEMESTRE\API\DomRock\Dom-Rock\domrock\src\main\resources\templates\view\imagens\logoDomRock.png">
	</div>
	
	<main>
	
<!-- Aqui vai a parte do login -->
	<div class="text-tx">
		<p>Login</p>
	</div>
	<div class="input-bx">
		<input type="Usuario" placeholder="Usuário">
	</div> 
	<div class="input-bx">
		<input type="Senha" placeholder="Senha">
	</div>
		<button>INICIAR</button>
	</div>
	</div>
	
	<div class="img-bx">
	<img alt="." src="C:\Users\eliza\OneDrive\Área de Trabalho\FATEC\3º SEMESTRE\API\DomRock\Dom-Rock\domrock\src\main\resources\templates\view\imagens\homem.png">
	</div>
<!-- Fim do login -->

	</main>
	
	<script src="Login.js"></script>
</body>
</html>

