<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DomRock</title>
<meta name="viewport" content="width-width-devicen initial-scale=1.0">
<meta name="author" content="Thunder"/>
<link rel="stylesheet" href="./styles/CadastroVendedor.css">
</head>
	
<title>Dom Rock</title>

<body>
	<header>
		<div class="sumario">
			<nav> 
				<div class="logo_superior">
					<img class="logo_domrock" src="./imagem/logo-domrock.png">
				</div>
				<ul>
					<li><a href="#">Home</a></li>
						<li><a href="#"><span class="destaque">Administrador</span></a></li>
							<li><a href="#">Vendedor</a></li>
						<li><a href="#">Dados</a></li>
					<li><a href="#">Gestor</a></li>
				</ul>
			</nav>
		</div>	
	</header>
	<section>
		<div class="titulopagina">
			<img class="icone01" src="./imagem/icone01.png"><h1>CADASTRO DE VENDEDOR</h1>
		</div>
	</section>
	<section class="C_Vendedor">
		<div class="instrucoes">
			<a>Para salvar as informações clique em "cadastrar".</a>
		</div>
		<div class="nome">
			<a>Nome completo</a><input type="Nome" size="158">
		</div>
		<div class="email">
			<a>E-mail</a><input type="E-mail" size="158">
		</div>
		<div class="con_email">
			<a>Confirmação e-mail</a><input type="con_email" size="158">
		</div>
		<div class="cpf">

			<a>CPF</a><input type="cpf" size="158">
		</div>
		<div class="senha">
			<a>Senha provisória</a><input type="senha" size="158">
		</div>
		<div class="con_senha">
			<a>Confirma senha provisória</a>   <input type="con_senha" size="158">
		</div>
		<div class="contato">
			<a>Contato</a><input type="contato" size="158">
		</div>
		<div class="cadastro">

			<button>CADASTRAR</button>
		</div>
	</section>
</body>



</html>