@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}