<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DomRock</title>
<meta name="viewport" content="width-width-devicen initial-scale=1.0">
<meta name="author" content="Thunder"/>
<link rel="stylesheet" href="./styles/VisualizacaoCliente.css">
<script src="./js/carteiraVendedor.js" defer></script>
</head>
	
<title>Dom Rock</title>

<body>
	<header>
		<div class="sumario">
			<nav> 
				<div class="logo_superior">
					<img class="logo_domrock" src="./imagem/logoDomRock.png">
				</div>
				<ul class="menu">
					<li><a href="homeAdmin.html">Home</a></li>
					<li><a href="homeAdmin.html" >Administrador</a></li>
					<li><a href="homeAdmin.html"style="color: #01B7E6;" >Vendedor</a></li>
					<li><a href="dadosVendas.html">Dados</a></li>
                    <li class="sair"><a href="index.html">Sair</a></li>
				</ul>
			</nav>
		</div>	
	</header>
	<section>
		<div class="titulopagina">
			<img class="icone01" src="./imagem/icone01.png"><h1>MINHA CARTEIRA</h1>
		</div>
	</section>
	<section class="C_Carteira">
		<form action="">
			<div class="boxview">
				<section class="boxview__titulo">
					<h3>MEUS CLIENTES</h3>
				</section>
				<hr class="boxview__linha">
				<section class="boxview__tabela">
					<table align="center" class="info_cliente">
						<tr>
							<th>Código</th>
							<th>Nome</th>														
						</tr>
						</section>
						<section>
							<tr>
								<td th:text="${clienteList.cod_cliente}"></td>
								<td th:text="${clienteList.nome_cliente}"></td>
							</tr>
						</section>
					</table>
				</section>
			</div>	
		</div>
			<div class="botoes">
				<button class="botaook" id="botaoAtualizar">Atualizar</button>
			</div>
		</form>
	</section>
</body>



</html>