<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DomRock</title>
<meta name="viewport" content="width-width-devicen initial-scale=1.0">
<meta name="author" content="Thunder"/>
<link rel="stylesheet" href="./styles/VisualizacaoCliente.css">
<script src="./js/formVisualizacaoCliente.js" defer></script>
</head>
	
<title>Dom Rock</title>

<body>
	<header>
		<div class="sumario">
			<nav> 
				<div class="logo_superior">
					<img class="logo_domrock" src="./imagem/logoDomRock.png">
				</div>
				<ul class="menu">
					<li><a href="#">Home</a></li>
					<li><a href="formVendedor.html">Cadastro Vendedor</a></li>
					<li><a class="pagina" href="formVisualizacaoCliente.html">Visualização de Cliente</a></li>
					<li><a href="#">Dados</a></li>
					<li class="sair"><a href="index.html">Sair</a></li>
				</ul>
			</nav>
		</div>	
	</header>
	<section>
		<div class="titulopagina">
			<img class="icone01" src="./imagem/icone01.png"><h1>Visualização de Cliente</h1>
		</div>
	</section>
	<section class="C_Carteira">
		<form action="">
			<div class="boxview">
				<section class="boxview__titulo">
					<h3>INFORMAÇÕES DOS CLIENTES</h3>
				</section>
				<hr class="boxview__linha">
				<section class="boxview__tabela">
					<table class="info_cliente">
						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>Gerência</th>
							<th>Vendedor</th>
							<th>Produto A</th>
														
						</tr>
						</section>
						<section>
							<tr>
								<td th:text="${clienteList.cod_cliente}"></td>
								<td th:text="${clienteList.nome_cliente}"></td>
								<td th:text="${clienteList.nome_gerencia}"></td>
								<td th:text="${clienteList.fk_usuario_id}"></td>
								<td th:text="${clienteList.id}"></td>
								
							</tr>
						</section>
					</table>
				</section>
			</div>	
		</div>
			<div class="botoes">
				<button class="botaook">OK</button>
				<button class="botaocadastarcliente" id="botao" type="button">CADASTRAR NOVO CLIENTE</button>
			</div>
		</form>
	</section>
</body>



</html>