@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #D6D8FA;
    --cor-terciaria: #000000;
    --cor-branca: #FFFFFF;
    --cor-shadow: rgba(0, 0, 0, 0.25);
    --cor-borda: #00B1ED;
    
    --fonte-primaria: 'Lato', sans-serif;
    --cor-hover: #9b9cab;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-primaria);
    
}

.cabecalho{
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
}

.cabecalho__logo{
    width: 20%;
    background-color: var(--cor-primaria);
}

.cabecalho__nav{
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 150px;
    font-size: 20px;
}

.cabecalho__home{
    text-decoration: none;
    color: var(--cor-branca);
}

.cabecalho__home:hover{
    color: var(--cor-borda);
}

.cabecalho__sair {
    text-decoration: none;
    position: absolute;
    right: 0;
    padding: 50px;
    font-size: 20px;
    color: var(--cor-branca);
}

.cabecalho__sair:hover {
    color: var(--cor-borda);
}

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h3 {
    font-family: Quicksand;
  }
  
  .success-alert,
  .danger-alert {
    width: 200px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50%;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
 
  
  .success-alert {
    color: #1a1919;
    background-color: #a8f0c6;
  }
  
  .danger-alert {
    color: #1a1919;
    background-color: #f7a7a3;
  }
  .hidden {
    display: none;
  }

 