body {
    background: #000000;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;;
}

.C_Vendedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

.logo_domrock {
    width: 20vw;
}

.sumario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo_superior {
    display: flex;
    align-items: center;
}

.menu li {
    margin-left: 10px;
    position: relative;
}

.sair {
    position: absolute;
    left: 250px;
    top: 0;
    right: 0;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px ;
    gap: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

nav ul li{
    padding: 0 10px; 
}

nav li a{
    text-decoration: none;
    font-size: 17px;
    color:#FFFFFF;
}

.titulopagina{
    display: flex;
    justify-content: center;

}
