@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lato&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #d3d3d3;
    --cor-terciaria: #000000;
    --cor-branca: #FFFFFF;
    --cor-shadow: rgba(0, 0, 0, 0.25);
    --cor-borda: #00B1ED;
    
    --fonte-primaria: 'Lato', sans-serif;
    --cor-hover: #9b9cab;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-primaria);
    
}

.cabecalho{
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
}

.cabecalho__logo{
    width: 20%;
    background-color: var(--cor-primaria);
}

.cabecalho__nav{
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
    font-size: 20px;
}

.cabecalho__home{
    text-decoration: none;
    color: var(--cor-branca);
}

.cabecalho__home:hover{
    color: var(--cor-borda);
}

.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vendas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-fundo);
    font-family: var(--fonte-primaria);
    font-size: 20px;
}

.vendas__registro{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#fundo__cor {
    width: 75vw;
    height: 65vh;
    background-color: var(--cor-secundaria);
    border-radius: 25px;   
}

.vendas__registro__colunas{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.vendas__registro__input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 20px;
}

label{
    width: 73px;
    height: 30px;
}

input{
    padding-left: 10px;
    height: 30px;
    width: 277px;
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    border-color: var(--cor-borda);
    box-shadow: 0px 4px 4px var(--cor-shadow);
}

input::placeholder{
    padding: 10px;
}

.vendas__botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 225px;
    height: 55px;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--cor-branca);
    border-color: var(--cor-borda);
}

button:hover{
    background-color: var(--cor-hover);
    cursor: pointer;
}

