@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lato&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #d3d3d3;
    --cor-terciaria: #000000;
    --cor-branca: #FFFFFF;
    --cor-shadow: rgba(0, 0, 0, 0.25);
    --cor-borda: #00B1ED;
    
    --fonte-primaria: 'Lato', sans-serif;
    --cor-hover: #9b9cab;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-primaria);
    
}

.cabecalho{
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
}

.cabecalho__logo{
    width: 20%;
    background-color: var(--cor-primaria);
}

.cabecalho__nav{
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
    font-size: 20px;
}

.cabecalho__home{
    text-decoration: none;
    color: var(--cor-branca);
}

.cabecalho__home:hover{
    color: var(--cor-borda);
}

#fundo__cor__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 20vw;
    background-color: var(--cor-secundaria);
    border-radius: 15px;
}

#fundo__cor__cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 65vh;
    background-color: var(--cor-secundaria);
    border-radius: 15px;   
}

.cadastro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botoes__navegadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

a{
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: var(--cor-borda);
}

.cadastro__cliente{
    display: flex;
    flex-direction: row;
}


.cadastro__cliente__colunas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    padding: 20px;
}

.cadastro__cliente__input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.cadastro__cliente__botao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

input, select{
    padding-left: 10px;
    height: 30px;
    width: 365px;
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    border-color: var(--cor-borda);
    box-shadow: 0px 4px 4px var(--cor-shadow);
}

input::placeholder{
    padding: 5px;
}

input::placeholder{
    padding: 5px;
}

button{
    width: 225px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--cor-branca);
    border-color: var(--cor-borda);
}

button:hover{
    background-color: var(--cor-hover);
    cursor: pointer;
}

