@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lato&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #d3d3d3;
    --cor-terciaria: #000000;
    --cor-branca: #FFFFFF;
    --cor-shadow: rgba(0, 0, 0, 0.25);
    --cor-borda: #00B1ED;
    
    --fonte-primaria: 'Lato', sans-serif;
    --cor-hover: #9b9cab;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-primaria);
    
}

.cabecalho{
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
}

.cabecalho__logo{
    width: 20%;
    background-color: var(--cor-primaria);
}

.cabecalho__nav{
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
    font-size: 20px;
}

.cabecalho__home{
    text-decoration: none;
    color: var(--cor-branca);
}

.cabecalho__home:hover{
    color: var(--cor-borda);
}

#fundo__cor__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 20vw;
    background-color: var(--cor-secundaria);
    border-radius: 15px;
}

#fundo__cor__cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 65vh;
    background-color: var(--cor-secundaria);
    border-radius: 15px;   
}

button:hover{
    background-color: var(--cor-branca);
    cursor: pointer;
}

button{
    margin-top: 150px;
    padding: 20px 35px; 
    margin-left: 355px;
    border-radius: 25px;
    border-color:#01B7E6;
    background-color: var(--cor-secundaria);
    color:black;   
    font-size: 15px; 
    display: center;
    justify-content: center;
    align-items: center;
    margin: 50px auto 1;
}
